<div class="row rainbow rainbow-shadow">
    <div class="col rainbow-red"></div>
    <div class="col rainbow-orange"></div>
    <div class="col rainbow-yellow"></div>
    <div class="col rainbow-green"></div>
    <div class="col rainbow-blue"></div>
    <div class="col rainbow-purple"></div>
</div>