{% extends 'base.html.twig' %}

{% block body %}
        <main role="main" class="inner cover">
            <p class="lead">{{ 'page.index.paragraph_one'|trans }}</p>
            <p class="lead">{{ 'page.index.paragraph_two'|trans }}</p>
            <p class="lead">{{ 'page.index.paragraph_three'|trans }}</p>
            <p class="lead">
                <a href="{{ url('app_story') }}" class="btn btn-primary float-right mt-5">verhaal toevoegen</a>
            </p>
        </main>
{% endblock %}