{% extends 'base.html.twig' %}

{% block body %}
        <main role="main" class="inner cover">
            <p class="lead">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary" type="submit">
                    {{ 'form.story.button.submit'|trans }}
                </button>
                {{ form_end(form) }}
            </p>
        </main>
{% endblock %}